.calc_body{
 width: 400px;
 height:550px;
 background-color: burlywood;
 border-radius: 20px;
 border-bottom: darkred;
 font-family: Arial, Helvetica, sans-serif;
 margin-left: 350px;
 margin-top: 50px;
 padding-top: 30px;
}
#screen{
    width:300px;
    height: 80px;
    background-color:lemonchiffon;
    color: black;
    margin-left: 50px;
    pointer-events: none;
    border-radius: 20px;
    font-size: 25px;
}
.row{
    margin-left: 50px;
    margin-top: 20px;
    color: antiquewhite;
}
.ord{
    width:70px;
    height:70px;
    background-color: chocolate;
    border-radius: 20px;
    color: yellow;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    

}
